{% extends "base.html" %}

{% load static %}
{% block title %} Shyntinel Eyes {% endblock %}
{% block content %}
    <h1>OpenCV Live Stream in Django</h1>

    <div class="d-flex">
        <div class="pb-5 ps-5">
            <img src="{% url 'live_feed' %}" id="video-feed">
        </div>
        <div class="d-flex flex-column align-items-end">
            <img id="captured-frame" style="display: none;">
        </div>

    </div>
    <div>
        <img id="criminal-image">

    </div>
    <div>
        <p id="verified">Verification: </p>
        <p id="distance">Distance: </p>
        <p id="identity">Identity: </p>
    </div>

    <script>
        const capturedFrame = document.getElementById("captured-frame");
        const criminalImage = document.getElementById("criminal-image");
        const csrfToken = '{{ csrf_token|escapejs }}';
    </script>
    <script src="{% static 'scripts/facial_recognition.js' %}"></script>

{% endblock %}
